.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/.dart_tool/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
*.jks
*.keystore
key.properties
.env
firebase_options.dart
