.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle/
android/local.properties
android/key.properties
signing/*.jks
signing/*.keystore
*.log
.DS_Store
